extends layout

block content
  h1 Checked In
  h3 Welcome #{user.nickname}!
  br
  h2 Alert Settings  
  br
  p Placement of Jackies timer with connection to Pams Twilio
  br
  a(href='/user') Home
  br
  a(href='/settings') Contact Settings
  br
  a(href='/logout') Logout
