extends layout

block content
  h1 Checked In
  h2 Home
<<<<<<< HEAD
  p Hello, #{User}
  a(href='/userprofile') Profile
  br
  a(href='/timer') Timer
=======
  img(src="#{user.picture}")
  br
  h2 Welcome #{user.nickname}!
  br  
  a(href='/alertsettings') Alert Settings
  br
  a(href='/logout') Logout
  
>>>>>>> riccochapa/master
