doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
    script(src="https://cdn.auth0.com/js/lock/10.0/lock.min.js")
  body
    block content
