extends layout

block content
  h1 Checked-In
  h2 Settings
  p Hello, #{User}
  a(href='/home') Home
  br
  br
  a(href='/contacts') Show My Contacts
  br
  br
  a(href='/contacts/add_new_contact') Create New Contact
