extends layout

block content
  h1 Checked-In
  h2 Settings
  p Hello, #{User}
  a(href='/home') Home
  ul
    each contact in contacts
      li=contact
  
  form(action="", method="post")
    p name:
    input(type="text", name="name")
    br
    p phone:
    input(type="text", name="phone")
    br
    p email:
    input(type="text", name="email")
    br
    br
    input(type="submit")
