extends layout

block content

  h1 Checked-In
  img(src="#{user.picture}")
  h2 Welcome #{user.nickname}!
  a(href='/home') Home
  br
  a(href='/contacts') Show My Contacts
  br
  a(href='/contacts/add_new_contact') Create New Contact
  br
  a(href='/logout') Logout
