extends layout

block content
  h1 Checked In
  h3 Welcome #{user.nickname}!
  br
  a(href='/settings') Contact Settings
  br  
  a(href='/alertsettings') Alert Settings
  br
  a(href='/logout') Logout
