body{
	text-align: center;
	background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#inputClock {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#inputClock > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#inputClock span {
	display: block;
	font-size: 14px;
}

#inputClock div > input {
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
	border: 0;
	width: 32px;
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
