extends ../layout

block content
  h1 Checked-In
  h2 Create Contact
  img(src="#{user.picture}")
  h2 Welcome #{user.nickname}!
  br
  a(href='/logout') Logout
  
  form(action="", method="post")
    p name:
    input(type="text", name="name")
    br
    p phone:
    input(type="text", name="phone")
    br
    p email:
    input(type="text", name="email")
    br
    br
    input(type="submit")
